i.icon1{
    width:30px;
    height:30px;
    background-image:url('../bower_components/mp-f7-template/icons/outline/stop_watch.png');
}

.active i.icon1{
    background-image:url('../bower_components/mp-f7-template/icons/solid/stop_watch.png');
}

i.icon2{
    width:30px;
    height:30px;
    background-image:url('../bower_components/mp-f7-template/icons/outline/steering_wheel.png');
}

.active i.icon2{
    background-image:url('../bower_components/mp-f7-template/icons/solid/steering_wheel.png');
}

i.icon3{
       width:30px;
       height:30px;
       background-image:url('../bower_components/mp-f7-template/icons/outline/clipboard.png');
}

.active i.icon3{
       background-image:url('../bower_components/mp-f7-template/icons/solid/clipboard.png');
}

i.icon4{
       width:30px;
       height:30px;
       background-image:url('../bower_components/mp-f7-template/icons/outline/spanner.png');
}



.active i.icon4{
       background-image:url('../bower_components/mp-f7-template/icons/solid/spanner.png');
}

i.workorders{
    background-image:url('../bower_components/mp-f7-template/icons/outline/cog.png');
    width:24px;
    height:24px;
}

i.supervisor{
   background-image:url('../bower_components/mp-f7-template/icons/outline/builder.png');
    width:24px;
    height:24px;
}

i.lookup{
   background-image:url('../bower_components/mp-f7-template/icons/outline/search.png');
    width:24px;
    height:24px;
}

i.shiftstarted{
   background-image:url('../bower_components/mp-f7-template/icons/outline/past.png');
    width:24px;
    height:24px;
}

.stop #toggleshift{
    stroke:#DA788B;
    fill:#DA788B;
}

.start #toggleshift{
    stroke:#129A29;
    fill:#129A29;
}

#welcome-user{
 /*   font-size:24px; */
    text-align:center;
    /*text-transform:uppercase;*/
}

.welcomeTemplate{
/*    font-family: Lato Hairline;*/
    font-family:LatoLite;
/*    font-size: 36px; */
    font-size:32px;
/*    color:#007aff;*/
    margin-bottom:50px;
    margin-top:70px;
}

#shift-content{
    visibility:hidden;
}

#shift-content.start{
    visibility:visible;
}

#shift-content.stop{
    visibility:visible;
}

#start-shift-text,#stop-shift-text{
    text-align: center;
    font-size: 20px;
    color:#007aff;
    
}

.stop #start-shift-text{
    display:none;
}

.start #stop-shift-text{
    display:none;
}

.content-block-title{
    padding-top:10px;
}

.list-block{
    padding-right:5px;
}

.shiftrow{
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items:center;
    height:120px;

}

.login-screen-title{
    margin-top:50px !important;
    margin-bottom:150px !important;
    font-family:LatoLite;
    color:#007aff;
}

.button-popup{
    margin-left:10px;
    margin-right:10px;
}

#popup-fill-material-content{
    margin-top:25%;
    margin-bottom:30%;
}

#popup-fill-labor-content{
    margin-top:25%;
    margin-bottom:25%;
}

@font-face {
	font-family: 'Lato Hairline';
	src: url('../bower_components/mp-f7-template/fonts/Lato-HairlineItalic.eot');
	src: url('../bower_components/mp-f7-template/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
		url('../bower_components/mp-f7-template/fonts/Lato-HairlineItalic.woff') format('woff'),
		url('../bower_components/mp-f7-template/fonts/Lato-HairlineItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato Hairline';
	src: url('../bower_components/mp-f7-template/fonts/Lato-Hairline.eot');
	src: url('../bower_components/mp-f7-template/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
		url('../bower_components/mp-f7-template/fonts/Lato-Hairline.woff') format('woff'),
		url('../bower_components/mp-f7-template/fonts/Lato-Hairline.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'LatoLite';
	src: url('../bower_components/mp-f7-template/fonts/Lato-LightItalic.eot');
	src: url('../bower_components/mp-f7-template/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../bower_components/mp-f7-template/fonts/Lato-LightItalic.woff') format('woff'),
		url('../bower_components/mp-f7-template/fonts/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'LatoLite';
	src: url('../bower_components/mp-f7-template/fonts/Lato-Light.eot');
	src: url('../bower_components/mp-f7-template/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../bower_components/mp-f7-template/fonts/Lato-Light.woff') format('woff'),
		url('../bower_components/mp-f7-template/fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}